<!DOCTYPE html>
<html lang="en">

<head>
    <title>startupbume</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body ng-app="startupbyme">
    <div class="container-fruit">
        <header id="home">
            <nav class="navbar navbar-inverse navbar-fixed-top" data-top-navigation>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Startupbyme</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="stu-slide">
            <!-- Add trianglify -->
            <div class="stu-trianglify"></div>
            <!--/ Add trianglify -->
            <!-- Add particles -->
            <div id="stu-particles"></div>
            <!-- /Add particles -->
            <div class="hello-center">
                <div class="container">
                    <div class="hello-block">
                        <img src="../image/my-avatar.png" alt="my avatar" width="30%" height="30%">
                        <h1>Hello..<span>!</span></h1>
                        <p>My name is Tam & i am front-end web developer</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -->
        <section id="about">
            <div class="container">
                <div>
                    <h2>About me</h2>
                    <div class="colored-line-full"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3>Study..<span class="exclamation">!</span></h3>
                        <div class="study">
                            <img class="img-responsive" src="../image/logo-khtn.png" alt="University of science" width="30%" height="50%">
                            <p>
                                I studied at university of science national university Ho Chi Minh city.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3>Skills..<span class="exclamation">!</span></h3>
                        <div class="skill">
                            <div class="skill-block">
                                <h4>HTML</h4>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>CSS</h4>
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>JavaScript</h4>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>PHP</h4>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Skill</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h3>Technologies ..<span class="exclamation">!</span></h3>
                    </div>
                    <div class="col-md-12 technologies-image">
                        <img src="../image/logo-technologies/angular.png" alt="angular" class="">
                        <img src="../image/logo-technologies/jquery.png" alt="jquery" class="">
                        <img src="../image/logo-technologies/jade.png" alt="jade" class="">
                        <img src="../image/logo-technologies/sass.png" alt="sass" class="">
                        <img src="../image/logo-technologies/handlebars.png" alt="handlebars" class="">
                        <img src="../image/logo-technologies/git.png" alt="git" class="">
                        <img src="../image/logo-technologies/gulp.png" alt="gulp" class="">
                    </div>
                </div>
            </div>
        </section>
        <!--/ About -->
        <!-- Social Network -->
        <section class="stu-social">
            <div class="container stu-font-social">
                <div class="title-center">
                    <h2>Social Network</h2>
                    <div class="colored-line"></div>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-facebook stu-font-face"></i>
                    <p>Facebook friend</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-google-plus stu-font-google"></i>
                    <p>Google+ view</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-twitter stu-font-twitter"></i>
                    <p>Twitter followers</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-linkedin stu-font-linked"></i>
                    <p>Linked connect</p>
                </div>
            </div>
        </section>
        <!--/ Social Network -->
        <!-- Contact -->
        <section id="contact">
            <div class="container">
                <div class="title-center">
                    <h2>Contact me</h2>
                    <div class="colored-line"></div>
                </div>
                <div class="row stu-contact-form">
                    <form action="/contact" name="contactForm" method="post" autocomplete="off" novalidate>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group" ng-class="{'has-error' : contactForm.name.$invalid && contactForm.name.$dirty}">
                                <label class="sr-only" for="full-name"> full name </label>
                                <input class="form-control" id="full-name" type="text" name="name" placeholder="Name" required ng-model="formData.name" ng-pattern="">
                                <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="pattern">This field must be a valid your name.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : contactForm.email.$invalid && contactForm.email.$dirty}">
                                <label class="sr-only" for="email"> email </label>
                                <input class="form-control" id="email" type="email" name="email" placeholder="Email" ng-model="formData.email" required>
                                <div ng-messages="contactForm.email.$error" ng-show="contactForm.email.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="email">This field must be a valid email address.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : contactForm.phone.$invalid && contactForm.phone.$dirty}">
                                <label class="sr-only" for="phone"> phone </label>
                                <input class="form-control" id="phone" type="tel" name="phone" placeholder="Phone" ng-model="formData.phone" required>
                                <div ng-messages="contactForm.phone.$error" ng-show="contactForm.phone.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="tel">This field must be a valid email address.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="sr-only" for="message"> message </label>
                            <textarea class="form-control" id="message" name="message" rows="5" placeholder="Message..." required></textarea>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="btn-submit-width">
                                <input class="btn btn-success btn-block" type="submit" name="send-info" value="Send" ng-disabled="contactForm.$invalid">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--/ Contact -->
        <!-- Footer -->
    </div>
    <script defer src="../javascript/jquery-2.2.1.js"></script>
    <script src="../javascript/angular.js"></script>
    <script defer src="../javascript/messages.js"></script>
    <script defer src="../javascript/bootstrap.js"></script>
    <script defer src="../javascript/particles.js"></script>
    <script defer src="../javascript/trianglify.js"></script>
    <script defer src="../javascript/app.js"></script>
</body>

</html>