<!DOCTYPE html>
<html lang="en">

<head>
    <title>minhtam</title>
    <link rel="stylesheet" type="text/css" href="../css/bundle.css">
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome/css/font-awesome.min.css"> </head>

<body ng-app="startupbyme">
    <div class="container-fruit">
        <header id="home">
            <nav class="navbar navbar-inverse navbar-fixed-top" data-top-navigation>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Startupbyme</a> </div>
                    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height:1px">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="stu-slide">
            <!-- Add trianglify -->
            <div class="stu-trianglify"></div>
            <!--/ Add trianglify -->
            <!-- Add particles -->
            <div class="slide-block" id="stu-particles"></div>
            <!-- /Add particles -->
            <div class="hello-center">
                <div class="container">
                    <div class="hello-block"> <img src="../image/my-avatar.png" alt="my avatar" width="30%" height="30%">
                        <h1>Hello..<span>!</span></h1>
                        <p>My name is Tam & i am front-end web developer</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -->
        <section class="about" id="about">
            <div class="container">
                <div>
                    <h2>About me</h2>
                    <div class="colored-line-full"></div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <h3>Study..<span class="exclamation">!</span></h3>
                        <div class="study">
                            <div class="image-school"> <img src="../image/logo-khtn.png" alt="University of science"> </div>
                            <div class="infomation-study">
                                <ul class="text-info">
                                    <li>I studied information techonology at university of science national university Ho Chi Minh city.</li>
                                    <li>Major : Software technology</li>
                                    <li>Scholastic : 2011-2014</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h3>Skills..<span class="exclamation">!</span></h3>
                        <div class="skill">
                            <div id="my-skills"></div>
                            <div class="params hidden">
                                <div class="param"> <span class="text">JavaScript</span>
                                    <input type="hidden" class="percent" value="95">
                                    <input type="hidden" class="color" value=" #ff5c33"> </div>
                                <div class="param"> <span class="text">CSS3</span>
                                    <input type="hidden" class="percent" value="90">
                                    <input type="hidden" class="color" value=" #4d79ff"> </div>
                                <div class="param"> <span class="text">HTML5</span>
                                    <input type="hidden" class="percent" value="80">
                                    <input type="hidden" class="color" value="#77bd9a"> </div>
                                <div class="param"> <span class="text">PHP</span>
                                    <input type="hidden" class="percent" value="53">
                                    <input type="hidden" class="color" value="#ff9933"> </div>
                                <div class="param"> <span class="text">MySQL</span>
                                    <input type="hidden" class="percent" value="45">
                                    <input type="hidden" class="color" value="#ff33ff"> </div>
                            </div>
                            <!-- <div class="skill-block">
                                <h4>HTML</h4>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>CSS</h4>
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>JavaScript</h4>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>PHP</h4>
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    <span class="sr-only">50% Skill</span>
                                </div>
                            </div>
                            <div class="skill-block">
                                <h4>Mysql/SQL server</h4>
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Skill</span>
                                </div>
                            </div> --></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Experience..<span class="exclamation">!</span></h3> </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="experience-content">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Front-end Developer</h4>
                                    <h5>Sutrix Media VietNam</h5> </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Create jquery plugin for project.</li>
                                        <li>Create directive and use angularjs control get data type json from server and process data via client site.</li>
                                        <li>Build App using Ionic famework.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="experience-content">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4>Staff Developer</h4>
                                    <h5>SystemEXE VietNam</h5> </div>
                                <div class="panel-body">
                                    <ul>
                                        <li> Develop software medical use DB2,Java,HTML,CSS,Jquery and AngularJS. </li>
                                        <li> Develop software looking work use MySQL,PHP(Laravel 5),HTML,CSS,Jquery and AngularJS. </li>
                                        <li> Develop software manager car use Oracle,Java,HTML,CSS,Jquery. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h3>Resource..<span class="exclamation">!</span></h3> </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center"> <span class="fa fa-file" aria-hidden="true"></span>
                            <div class="card-block">
                                <h4 class="card-title">Template build struct project front end</h4>
                                <div class="colored-line-full"></div>
                                <div class="card-text text-left">
                                    <ul>
                                        <li> Template use gulp auto build work follow by task </li>
                                        <li> Support compiled scss to css </li>
                                        <li>It can validation html,css,js by htmlhint,csslint,jshint </li>
                                        <li> Minify css,js file and optimize image when you want release project</li>
                                    </ul> <a class="btn btn-primary btn-lg btn-block" href="https://github.com/MinhTamCK/template-front-end" title="repository" role="button">Link</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center"> <i class="fa fa-check" aria-hidden="true"></i>
                            <div class="card-block">
                                <h4 class="card-title">Code rule</h4>
                                <div class="colored-line-full"></div>
                                <div class="card-text text-left">
                                    <ul>
                                        <li>My code rule of me get from experience</li>
                                        <li>I think when you write code clean then project will easy maintenance and support performante</li>
                                    </ul> <a class="btn btn-primary btn-lg btn-block" href="https://github.com/MinhTamCK/Front-end/blob/master/code-rule/code-rule.md" title="repository" role="button">Link</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card text-center"> <i class="fa fa-h-square" aria-hidden="true"></i>
                            <div class="card-block">
                                <h4 class="card-title">Motel project build nodejs</h4>
                                <div class="colored-line-full"></div>
                                <div class="card-text text-left">
                                    <ul>
                                        <li>Comming soon!</li>
                                    </ul> <a class="btn btn-primary btn-lg btn-block" href="" title="repository" role="button">Link</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Technologies ..<span class="exclamation">!</span></h3> </div>
                    <div class="col-md-12">
                        <div class="technologies-image">
                            <div> <img src="../image/logo-technologies/angular.png" alt="angular" class=""> </div>
                            <div> <img src="../image/logo-technologies/jquery.png" alt="jquery" class=""> </div>
                            <div> <img src="../image/logo-technologies/sass.png" alt="sass" class=""> </div>
                            <div> <img src="../image/logo-technologies/git.png" alt="git" class=""> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ About -->
        <!-- Social Network -->
        <section class="stu-social">
            <div class="container text-center">
                <div class="title-center">
                    <h2>Social Network</h2>
                    <div class="colored-line"></div>
                </div>
                <div class="col-md-3">
                    <a href="https://www.facebook.com/tam.nguyen.75641" title="facebook" target="_blank"> <span class="fa fa-facebook"></span>
                        <p class="facebook-text">Facebook friend</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://plus.google.com/u/0/117126940633058835894" title="Google plus" target="_blank"> <span class="fa fa-google-plus"></span>
                        <p class="google-text">Google+ view</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://twitter.com/MinhTam70910140" title="twitter" target="_blank"> <span class="fa fa-twitter"></span>
                        <p class="twitter-text">Twitter followers</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://vn.linkedin.com/in/tam-nguyen-624997114" title="linkedin" target="_blank"> <span class="fa fa-linkedin"></span>
                        <p class="linked-text">Linked connect</p>
                    </a>
                </div>
            </div>
        </section>
        <!--/ Social Network -->
        <!-- Contact -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="title-center">
                    <h2>Contact me</h2>
                    <div class="colored-line"></div>
                </div>
                <div class="row stu-contact-form">
                    <form action="/contact" name="contactForm" method="post" autocomplete="off" novalidate>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group" ng-class="{'has-error' : contactForm.name.$invalid && contactForm.name.$dirty}">
                                <label class="sr-only" for="full-name"> full name </label>
                                <input class="form-control" id="full-name" type="text" name="name" placeholder="Name" required ng-model="formData.name" ng-pattern="">
                                <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="pattern">This field must be a valid your name.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : contactForm.email.$invalid && contactForm.email.$dirty}">
                                <label class="sr-only" for="email"> email </label>
                                <input class="form-control" id="email" type="email" name="email" placeholder="Email" ng-model="formData.email" required>
                                <div ng-messages="contactForm.email.$error" ng-show="contactForm.email.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="email">This field must be a valid email address.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : contactForm.phone.$invalid && contactForm.phone.$dirty}">
                                <label class="sr-only" for="phone"> phone </label>
                                <input class="form-control" id="phone" type="tel" name="phone" placeholder="Phone" ng-model="formData.phone" required>
                                <div ng-messages="contactForm.phone.$error" ng-show="contactForm.phone.$dirty" role="alert">
                                    <p class="help-block" ng-message="required">Please enter a value for this field.</p>
                                    <p class="help-block" ng-message="tel">This field must be a valid email address.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label class="sr-only" for="message"> message </label>
                            <textarea class="form-control" id="message" name="message" rows="7" placeholder="Message..." required></textarea>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-submit-width">
                            <input class="btn btn-success btn-block" type="submit" name="send-info" value="Send" ng-disabled="contactForm.$invalid"> </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ Contact -->
        <!-- Loading -->
        <div class="loading">
            <div class="modal-dialog"> <span class="fa fa-spinner fa-spin"></span> </div>
        </div>
        <!-- /Loading -->
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p>© 2016 Nguyen Minh Tam</p>
                    </div>
                    <div class="col-md-7"> </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->
    </div>
    <script src="../js/all.js"></script>
</body>

</html>
